.full{
	float: left;
	width: 100%;
}
ul, li {
	list-style: none;
}
a{
	color: #000 !important;
}
a:hover{
	text-decoration: none !important;
}
.rel{
	position: relative;
}
.abs{
	position: absolute;
}
.centered{
	display: flex;
	justify-content: center;
	align-items: center;
}
.name-company h1::after{
	content: '';
    position: absolute;
    bottom: -10px;
    left: 0px;
    height: 5px;
    width: 20%;
    background: #36c6d3;
}
#chartdiv-pie {
	width: 100%;
	height: 200px;
	display: inline-block;
}
#chartdiv-gender {
	width: 100%;
	height: 200px;
	font-size: 11px;
}	
#chartdiv-gender .amcharts-chart-div {
	left: 150px !important;
}
#chartdiv-gender .amChartsLegend {
	left: 0 !important;
}
.amcharts-chart-div a{
	display: none !important;
}
.amchartsLegend-txt{
	position: absolute;
	font-size: 12px;
    left: 22%;
    bottom: 7%;
    width: 10%;
}
/*#legend {
  width: 200px;
  height: 400px;
  border: 1px solid #eee;
  margin-left: 10px;
  float: left;
}*/
#legend .legend-item {
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
#legend .legend-item .legend-value {
  font-size: 12px;
  font-weight: normal;
  margin-left: 22px;
}

#legend .legend-item .legend-marker {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

#legend .legend-item.disabled .legend-marker {
  opacity: 0.5;
  background: #ddd;
}
#chartdiv-gender {
	width: 100%;
	height: 200px;
	display: inline-block;
}
.chart{
	border-radius: 10px;
    background: #f7f7f7f7;
    padding: 10px;
}
.chart .ttl{
	display: inline-block;
    width: auto;
    border-radius: 20px;
    background: #f7f7f7;
    box-shadow: 0 4px 10px -2px #999;
    padding: 10px;
}
.dropdown{
	display: flex;
	justify-content: flex-end;
	float: right !important;
}
.dropdown .btn,
.dropdonw .btn:hover{
	background-color: transparent !important;
	border: none;
    color: #000 !important;
}
.dropdown-menu.show{
	left: -70px !important;
    padding: 10px;
    box-shadow: 0 4px 10px -2px #999;
    border: none;
}
.btn-secondary.dropdown-toggle:focus{
	box-shadow: none !important;
}